@page "/"
@using BlazorPDF.Data
@inject IJSRuntime jsRuntime;

<h1>Results</h1>

<button class="btn btn-primary" @onclick="GeneratePDF">Generate</button>

@code{
    private void GeneratePDF()
    {
        Student student = new Student();
        student.GeneratePDF(jsRuntime);





    }





}