@page "/"
@using BlazorPDF.Data
@inject IJSRuntime jsRuntime;
@inject BlazorPDF.Reports.RptResult report; 

<h1>Results</h1>

<button class="btn btn-primary" @onclick="GeneratePDF">Generate</button>

@code{
    private void GeneratePDF()
    {
        report.GeneratePDF(jsRuntime);





    }





}